# Environment
.env
venv/
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# FAISS index files
*.index
*.faiss

# Data — не качвай в git
data/processed/
data/raw/appointments.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Frontend files and configs
frontend/node_modules/
frontend/dist/
frontend/.env